<section>
  <div class="row">
    <div class="publication col-md-3 col-sm-6" *ngFor="let publication of publications" (click)="overlay = publication">
      <p><b>{{ publication.fields.year }}</b></p>
      <hr>
      <p>{{ publication.fields.author }}</p>
      <p><a href="localhost:8000/"><b>{{ publication.fields.title }}</b></a></p>
      <p>{{ publication.fields.publisher }}</p>
    </div>
    <!--overlay 창 구현-->
    <div class="popup-back" [hidden]="!overlay">
    <div class="popup">
      <div class="overlay-content" *ngIf="overlay">
        <p>{{ overlay.fields.author }}</p>
        <p>{{ overlay.fields.title}}</p>
        <p>{{ overlay.fields.publisher }}</p>
        <p>{{ overlay.fields.abstract }}</p>
        <a href="localhost:8000/" (click)="overlay = undefined">close</a>
      </div>
    </div>
    </div>
  </div>
  <a (click)='getPublications(1)'>1</a><a (click)='getPublications(2)'>2</a><a (click)='getPublications(3)'>3</a>
  <!--for문 구현 필요(새로운 페이지 자동생성)-->
</section>
